.dropdown, .dropend, .dropstart, .dropup {
    position: fixed;
    right: 0;   
}

.bg-success {
    background-color: #4CAF50 !important;
}

.btn-outline-light {
	margin-left: 15px;
	border: none;
}

img {
  width: 60%;
}